.hello {
    border: 2px solid red;
    background-color: aqua;
}
.btn{
    padding: 8px 20px;
    background-color: #A2001D;
}
a.btn-order:hover{
    background-color: #15080A;
    color: #E52525;
}
