// % Color-text:

.row{
        background:url('https://www.infiniti.ca/content/dam/Infiniti/Canada/home-page/next-gen/2024/homepagepfas/march/en/INF-EN-HOME-LEFT-PFA-desktop-1500x555_v3.jpg');
        // position: relative;
        .text-infinity-1{
            position: absolute;
            top: 50%;
            left: 20%;
            // transform: translate(-50%,-50%);
            color: brown;
            
        }
    
    
}

